.container {
  margin : 2%;
  padding: 0;
  display: grid;
  justify-content: space-around;
  grid-template-columns: minmax(0, 1fr);
  position: relative;

  @include respond-medium {  
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}