.container {
    margin : 2%;
    padding: 2%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    position: relative;
    font-size: 1.2rem;
  
    @include respond-medium {  
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  .cell {
    padding: 2%;
    margin: 0;
    flex-grow: 1;
    flex-basis: 100%;
    position: sticky;
    border: 1px solid black;

    
    @include respond-small {
        flex-basis: calc(100 / 2 ) * 1%;
    }

    @include respond-medium {
        flex-basis: calc(100 / 3 ) * 1%;
    }

    @include respond-large{
        flex-basis: calc(100 / 4 ) * 1%;
    }

    @include respond-x-large{
        flex-basis: calc(100 / 5 ) * 1%;
    }

  }

  .loading-text span {
    position: relative;
    margin-left: 1%;
    opacity: 0;
    animation: move-emojis 1s forwards infinite;
  }

@keyframes move-emojis {
  0% {
    bottom: -0.5em;
    opacity: 1;
  }

  40% {
    bottom: 0.5em;
  }

  60% {
    bottom: 0;
    opacity: 1;
  }
}