.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  flex-flow: wrap;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.confession {
  padding: 2%;
  margin: 0;
  flex-grow: 1;
  flex-basis: 100%;
  position: sticky;
}