.header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2%;
    background-color: $silver;
    color: $fire;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;

    @include respond-medium {
        flex-direction: row;
    }

    &__heading {
        flex-basis: 50%; 
        font-size: 1.3rem;
        margin: 2%;

        @include respond-medium {
            flex-basis: 25%;
            font-size: 2rem;
            margin: 0;
        }
    }
}