.header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: $silver;
    color: $fire;
    flex-wrap: wrap;
    flex-direction: column;

    @include respond-medium {
        flex-direction: row;
    }

    &__heading {
        flex-basis: 100%; 

        @include respond-medium {
            flex-basis: 20%;
        }
    }

    &__navbar {
        flex-basis: 100%;

        @include respond-medium {
            flex-basis: 60%;
        }
    }
}