
.navbar {
    align-items: left;
    margin: 2% 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    max-height:fit-content;

    @include respond-medium { 
        flex-basis: 75%;
    }

    &--light {
      background-color: $silver;
    }

    &__list {
      display: flex;
      list-style: none;
      flex-direction: column;
      position: fixed;
      top:0;
      left: 0;
      z-index: 1000;
      padding: 1%;
      display: none;
      width: 100%;
      margin: 0;
      line-height: 1.8rem;

      @include respond-medium { 
        flex-direction: row;
        position: relative;
        justify-content:space-evenly;
        padding: 0;
        display: flex;
      }

      &--light {
        background-color: $silver;
      }
    }

    &__item {
      margin: 0 2%;
      padding: 0;
      font-size: 1.5rem;
      background-color: $silver;

      @include respond-medium { 
        font-size: 1.8rem;
      }

      &--dark {
        color: $darker-blue;
      }

      &--dark a {
        text-decoration: none;
        word-break:keep-all;
        cursor: pointer;
      }

      &--dark a:active {
        background-color: $noodles;
      }
    
      &--dark a:hover {
        color: $fire;
      }
    }
  
    &__element {
      margin: 0;
      padding: 0;
      position: relative;
      float: right;
      font-size: 3rem;
      cursor: pointer;
      line-height: 3.6rem;

      @include respond-medium { 
        width: 100%;
      }

      &--bars {
        color: $fire;
        position: fixed;
        top: 1%;
        right: 1%;
        margin: 0;

        @include respond-medium { 
          display: none;
        }
      }
    }

    &__element:hover &__list {
      display: flex;
    }
  }